@font-face {
  font-family: 'APPicon';
  src:  url('fonts/APPicon.eot?igiobk');
  src:  url('fonts/APPicon.eot?igiobk#iefix') format('embedded-opentype'),
    url('fonts/APPicon.woff2') format('woff2'), /* Modern Browsers */
    url('fonts/APPicon.woff?igiobk') format('woff'),
    url('fonts/APPicon.ttf?igiobk') format('truetype'),
    url('fonts/APPicon.svg?igiobk#APPicon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'APPicon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-anxufahuo:before {
  content: "\e92f";
}
.icon-chuzupaijian:before {
  content: "\e930";
}
.icon-xiaojianpai:before {
  content: "\e931";
}
.icon-zhengchesong:before {
  content: "\e900";
}
.icon-address:before {
  content: "\e901";
}
.icon-anxu:before {
  content: "\e902";
}
.icon-car:before {
  content: "\e903";
}
.icon-cehua:before {
  content: "\e904";
}
.icon-change:before {
  content: "\e905";
}
.icon-code:before {
  content: "\e906";
}
.icon-daofu:before {
  content: "\e907";
}
.icon-dingwei:before {
  content: "\e908";
}
.icon-fa:before {
  content: "\e909";
}
.icon-fahuo:before {
  content: "\e90a";
}
.icon-fenxiang:before {
  content: "\e90b";
}
.icon-glass:before {
  content: "\e90c";
}
.icon-hengwenxiang:before {
  content: "\e90d";
}
.icon-huidan:before {
  content: "\e90e";
}
.icon-huowu:before {
  content: "\e90f";
}
.icon-key:before {
  content: "\e910";
}
.icon-lajitong:before {
  content: "\e911";
}
.icon-mine:before {
  content: "\e912";
}
.icon-mobiephone:before {
  content: "\e913";
}
.icon-money:before {
  content: "\e914";
}
.icon-more:before {
  content: "\e915";
}
.icon-name:before {
  content: "\e916";
}
.icon-new:before {
  content: "\e917";
}
.icon-our:before {
  content: "\e918";
}
.icon-pen:before {
  content: "\e919";
}
.icon-phone:before {
  content: "\e91a";
}
.icon-problem:before {
  content: "\e91b";
}
.icon-qiyeming:before {
  content: "\e91c";
}
.icon-ruler:before {
  content: "\e91d";
}
.icon-shou:before {
  content: "\e91e";
}
.icon-siji:before {
  content: "\e91f";
}
.icon-thumbs:before {
  content: "\e920";
}
.icon-time:before {
  content: "\e921";
}
.icon-tongxunlu_chumo:before {
  content: "\e922";
}
.icon-tongxunlu_moren:before {
  content: "\e923";
}
.icon-tool:before {
  content: "\e924";
}
.icon-ues-address:before {
  content: "\e925";
}
.icon-use_chumo:before {
  content: "\e926";
}
.icon-use_moren .path1:before {
  content: "\e927";
  color: rgb(255, 255, 255);
}
.icon-use_moren .path2:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-usetime:before {
  content: "\e929";
}
.icon-waybill:before {
  content: "\e92a";
}
.icon-xiaoxi:before {
  content: "\e92b";
}
.icon-xieyi:before {
  content: "\e92c";
}
.icon-yufu:before {
  content: "\e92d";
}
.icon-zhuangxie:before {
  content: "\e92e";
}
